<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>servlet.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioSession</servlet-name>
        <servlet-class>servlet.InicioSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionMessage</servlet-name>
        <servlet-class>servlet.SessionMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Recuperar</servlet-name>
        <servlet-class>servlet.Recuperar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Producto</servlet-name>
        <servlet-class>servlet.Producto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SessionMessage</servlet-name>
        <url-pattern>/GetSessionMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioSession</servlet-name>
        <url-pattern>/InicioSessionFinish</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServletp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Recuperar</servlet-name>
        <url-pattern>/RecuperarContra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Producto</servlet-name>
        <url-pattern>/ProductInfo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
